<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title or "My Blog" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1><a href="{{ url_for('main.index') }}">My Blog</a></h1>
    <nav>
      {% if current_user.is_authenticated %}
        <span>Hi {{ current_user.username }}</span>
        <a href="{{ url_for('main.create_post') }}">New Post</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <script>
  // Initialize the agent on page load.
  const fpPromise = import('https://fpjscdn.net/v3/v9PsghOuL6bPysSyN4q2')
    .then(FingerprintJS => FingerprintJS.load({
      apiKey: "v9PsghOuL6bPysSyN4q2",
  endpoint: "https://metrics.vulturesofficial.org",
  scriptUrlPattern: "https://metrics.vulturesofficial.org/web/v<version>/<apiKey>/loader_v<loaderVersion>.js"
    }))

  // Get the visitorId when you need it.
  fpPromise
    .then(fp => fp.get())
    .then(result => {
      const visitorId = result.visitorId
      console.log(visitorId)
    })
</script>
</body>
</html>
